body {
    background-color: #000;
    color: #fff;
}

.board > .row {
    height: 16.666666666vh;
}

.question,
.categories > div {
    height: 100%;
    background-color: #00c;
    border: 2px solid #000;
    text-align: center;
    display: table;
}

.answer {
    display: none;
}

.category-name, .value {
    display: table-cell;
    vertical-align: middle;
	font-family: Oswald, Impact, 'Arial Black', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.category-name {
	font-size: 24px;
}

.value {
	color: #fc0;
	font-size: 36px;
}

.active {
	background-color: purple;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 90vh;
	margin-top: 5vh;
	width: 90vw;
	margin-left: 5vw;
	-webkit-transition-duration: 2s;
    transition-duration: 2s;
}