body{
	background-color: #000;
	color: #fff;
}

.categories div{
	height: 10vh;
}

.question{
	background-color: blue;
	height: 15vh;
	margin-top: 2vh;
}

.answer{
	display: none;
}

.value{
	display: block;
}